:root {
    --cb: #1b1f230a;
    --cs: #00fdf1;
    --ce: #ffffff60;
    --c0: #000000;
    --c1: #434443ce;
    --c2: #009e2a;
    --c3: #00ff44;
    --c4: #216e39
}

col {
    background-color: #5e5e5e;
}